<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>
  
  <!-- Set to DEBUG to see detailed logging from shapes package -->
  <logger name="edu.luc.cs.laufer.cs371.shapes" level="INFO" />
</configuration>

